venv/
__pycache__/
*.pyc
*.log

db.sqlite3
*.sqlite3
*.db


.vscode/
.idea/
*.swp
*.swo
.DS_Store


Thumbs.db
Desktop.ini
.DS_Store


*.py[cod]
*.egg-info/
dist/
build/

local_settings.py


.pytest_cache/
.coverage
htmlcov/